<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Your Cart</h1>
    {{ if .Empty }}
    <p>Your cart is empty.</p>
    {{ else }}
    <div class="row">
        {{ range .Items }}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ .Image }}" class="card-img-top" alt="{{ .Name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ .Name }}</h5>
                    <p class="card-text">Price: ${{ .Price }}</p>
                    <p class="card-text">Quantity: {{ .Quantity }}</p>
                    <p class="card-text">Total Price: ${{ .TotalPrice }}</p>
                    <button onclick="deleteItem('{{ .OrderItemID }}')" class="btn btn-danger">Delete Item</button>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <button onclick="makePurchase()" class="btn btn-success">Purchase</button>
    {{ end }}
    <p id="total-price">Total Price: ${{ .TotalPrice }}</p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function deleteItem(itemId) {
        let url = `http://localhost:8080/order_items/${itemId}`

        console.log(itemId);

        const options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        };

        fetch(url, options)
            .then(response => {
                if (response.status === 204) {
                    console.log('Resource deleted successfully.');
                    update_after_delete()
                    // window.location.href("http://localhost:8080/cart")
                } else if (response.status === 404) {
                    console.error('Resource not found.');
                } else {
                    console.error('An error occurred:', response.status);
                }
            })
            .catch(error => {
                console.error('Request failed:', error);
            });

    }

    function getUserFromCookie(){
        let cookie = document.cookie.split("; ")
        for (let i = 0; i < cookie.length; i++){
            if (cookie[i].split("=")[0] === "user_id"){
                return cookie[i].split("=")[1];
            }
        }

    }

    function create_new_order(){
        let url = 'http://localhost:8080/order';

        let data = {
            "status": "process",
            "user_id": parseInt(getUserFromCookie())
        }

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };

        fetch(url, options)
            .then(response => {
                if (response.status === 200) {
                    return response.json()
                } else {
                    throw new Error("Request is failed!")
                }
            })
            .then(data => {
                console.log(data);
                updateCookieValue("order_id", data.order_id, 7);
            })
            .catch(error => {
                console.error(error);
            });
    }

    function updateCookieValue(cookieName, updatedValue, expirationDays) {
        const existingCookie = document.cookie;
        const cookieObject = Object.fromEntries(existingCookie.split(';').map(cookie => cookie.trim().split('=')));
        cookieObject[cookieName] = updatedValue;
        const updatedCookie = Object.entries(cookieObject).map(([key, value]) => `${key}=${value}`).join('; ');
        const expirationDate = new Date();
        expirationDate.setDate(expirationDate.getDate() + expirationDays);
        document.cookie = `${updatedCookie}; expires=${expirationDate.toUTCString()}`;
    }

    function delete_after_purchase(order_id){
        let url = `http://localhost:8080/order_items/${order_id}/after_purchase`

        const options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        };

        fetch(url, options)
            .then(response => {
                if (response.status === 204) {
                    console.log('Resource deleted successfully.');
                } else if (response.status === 404) {
                    console.error('Resource not found.');
                } else {
                    console.error('An error occurred:', response.status);
                }
            })
            .catch(error => {
                console.error('Request failed:', error);
            });

    }

    function set_new_order_id(){
        fetch('http://localhost:8080/setcookie')
            .then(function(response) {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(function(data) {
                console.log(data)
            })
            .catch(function(error) {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function update_after_delete(){
        let allCookie = document.cookie.split(";")
        let order_id;
        for (let i = 0; i < allCookie.length; i++){
            if (allCookie[i].split("=")[0] === "order_id"){
                order_id = allCookie[i].split("=")[1]
            }
        }

        let url = `http://localhost:8080/order/${order_id}`
        let data = {
            "status": "process"
        }

        const options = {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        };

        fetch(url, options)
            .then(response => {
                if (response.status === 404){
                    console.log("Failed!")
                } else {
                    console.log("Successfully!")
                }
            })
            .catch(error => {
                console.log("Error failed!")
            })
    }

    function makePurchase() {
        let allCookie = document.cookie.split("; ")
        let order_id;
        for (let i = 0; i < allCookie.length; i++){
            if (allCookie[i].split("=")[0] === "order_id"){
                order_id = allCookie[i].split("=")[1]
            }
        }

        let url = `http://localhost:8080/order/${order_id}`
        let data = {
            "status": "end"
        }

        const options = {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        };

        fetch(url, options)
            .then(response => {
                if (response.status === 200) {
                    alert("Purchased!")
                    delete_after_purchase(order_id);
                    create_new_order();
                    set_new_order_id();
                } else if (response.status === 404) {
                    console.error('Resource not found.');
                } else {
                    console.error('An error occurred:', response.status);
                }
            })
            .then(data => {
                console.log(data.json())
            })
            .catch(error => {
                console.error('Request failed:', error);
            });
    }
</script>
</body>
</html>
