<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My eCommerce Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"></head>

<body>

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Products</a></li>
        </ul>


        <div class="text-end">
          {{ if .IsAuthenticated }}
          <a href="/cart" class="btn btn-outline-light me-2">Cart</a>
          <form action="/logout" method="POST" class="d-inline">
            <button type="submit" class="btn btn-outline-light me-2">Logout</button>
          </form>
          {{ else }}
          <button type="button" class="btn btn-outline-light me-2"
            onclick="window.location.href='/login'">Login</button>
          <button type="button" class="btn btn-warning" onclick="window.location.href='/register'">Sign-up</button>
          {{ end }}
        </div>


      </div>
    </div>
  </header>


  <div class="container">
    <h1 class="text-center my-5">Welcome to My eCommerce Store</h1>
    <div class="row">
      {{ range .Products }}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ .Image }}" class="card-img-top" alt="{{ .Name }}">
          <div class="card-body">
            <h5 class="card-title">{{ .Name }}</h5>
            <p class="card-text">Price: ${{ .Price }}</p>
            <p class="card-text">Quantity: {{ .Quantity }}</p>
            <input type="text" id="quantity-input{{.Name}}">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" onclick="addToCart('{{ .ID }}', '{{ .Name }}')">Add to
                  Cart</button>

              </div>
            </div>
          </div>
        </div>
      </div>



      {{ end }}
    </div>
  </div>
  <script>
    function update_order(order_id){
      let url = `http://localhost:8080/order/${order_id}`

      let data = {
        "status": "process"
      }

      const options = {
        method: 'PATCH', // Use the HTTP PATCH method
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      };

      fetch(url, options)
              .then(response => {
                if (response.status === 200) {
                  return response.json(); // Parse the response as JSON if needed
                } else {
                  console.log("Error");
                  throw new Error("Request failed");
                }
              })
              .then(data => {
                // Handle the response data here
                console.log(data);
              })
              .catch(error => {
                // Handle any errors that occurred during the request
                console.error(error);
              });

    }


    function addToCart(product_id, input_name) {
      let allCookie = document.cookie.split("; ")
      let order_id;
      for (let i = 0; i < allCookie.length; i++){
        if (allCookie[i].split("=")[0] === "order_id"){
          order_id = allCookie[i].split("=")[1]
        }
      }

      const data = {
        "product_id": parseInt(product_id, 10),
        "order_id": parseInt(order_id, 10),
        "quantity": parseInt(document.getElementById("quantity-input"+input_name).value, 10)
      };

      const url = 'http://localhost:8080/order_items';

      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      };

      fetch(url, options)
              .then(response => response.json())
              .then(data => {
                if (data["message"] === "you already chose this product" || data["message"] === "product quantity not enough") {
                  alert(data["message"])
                } else {
                  alert("Added your cart")
                  update_order(data["order_id"])
                }
              })
              .catch(error => {
                console.error('Error sending POST request', error);
              });
    }
  </script>

</body>

</html>